.passwordChangeSection{
    width: 100%;
    height: auto;
    min-height: 500px;
}
.passwordChangeContainer{
    width: 54%;
    margin-top: 0.5rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.passwordChangeAccountText{
    color: #555;
    cursor: pointer;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
}
.passwordChangeYourAccountText{
    color: #007185;
    cursor: pointer;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding-right: 0.5rem;
}
.passwordChangeLogInSecurityText{
    color: #007185;
    cursor: pointer;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.passwordChangePasswordChangeText{
    color: #c45500;
    cursor: pointer;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding-left: 0.5rem;
}
.passwordChangeYourAccountText:hover{
    color: #c45500;
    text-decoration: underline;
}
.passwordChangeLogInSecurityText:hover{
    color: #c45500;
    text-decoration: underline;
}
.passwordChangeTitleDiv{
    margin-top: 1rem;
}
.passwordChangeTitle{
    font-family: "Amazon Ember",Arial,sans-serif;
    color: #0F1111;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
}
.passwordChangeBoxSection{
    width: 80%;
    height: auto;
    overflow: auto;
    border-radius: 4px;
    border: 1px #ddd solid;
    background-color: #fff;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}
.passwordChangeBoxContainer{
    margin-top: 1rem;
    margin-left: 1rem;
}
.passwordChangeBoxParaText{
    font-size: 13px;
    line-height: 19px;
    color: #111;
}
.passwordChangeBoxCurrentPasswordInputDiv{
    margin-top: 1rem;
}
.passwordChangeBoxCurrentPasswordLabel{
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    color: #111;
}
.passwordChangeBoxCurrentPasswordInput{
    width: 174px;
    height: 31px;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset;
    outline: 0;
    margin-top: 0.25rem;
}
.passwordChangeBoxNewPasswordInputDiv{
    margin-top: 1rem;
}
.passwordChangeBoxNewPasswordLabel{
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    color: #111;
}
.passwordChangeBoxNewPasswordInput{
    width: 174px;
    height: 31px;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset;
    outline: 0;
    margin-top: 0.25rem;
}
.passwordChangeBoxConformPasswordInputDiv{
    margin-top: 1rem;
}
.passwordChangeBoxConformPasswordLabel{
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    color: #111;
}
.passwordChangeBoxConformPasswordInput{
    width: 174px;
    height: 31px;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset;
    outline: 0;
    margin-top: 0.25rem;
}
.passwordChangeSaveChangeBtnDiv{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.passwordChangeSaveChangeBtn{
    width: 102px;
    height: 31px;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}
.passwordChangeSaveChangeBtn:hover{

    background-color: #fdbf1f;
}
.passwordChangeSaveChangeBtn:focus:hover{
    border-style: solid;
    border-width: 1px;
    border-color: #e47911;
}