.alert{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border-radius: 1rem;
    color: rgb(255, 0, 0);
    background-color: rgb(255, 233, 233);
    text-align: center;
    height: 3rem;
    width: 95%;
    padding-top: 1.3rem;
}