
.adminPanelSectionContainer {
  width: 100%;
  height: auto;
  overflow: auto;
  min-height: 580px;
  background-color: #e9eef7;
}
.adminPanelOverviewSection {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.adminPanelOverviewContainer {
  margin-top: 5rem;
}

.adminPanelOverviewTitle {
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: #0f1111;
}
.adminPanelDashOrdersBoxContainerSection {
  padding-top: 8rem;
}
.adminPanelOverviewSubTitleDiv {
  margin-top: 0.5rem;
}
.adminPanelOverviewSubTitleText {
  color: #8798ad;
  font-size: 12px;
  text-shadow: none;
}
.adminPanelOverviewSubDashboardTitle {
  margin-right: 0.5rem;
  cursor: pointer;
}
.adminPanelOverviewSubAmazonDashboardTitle {
  margin-left: 0.5rem;
  cursor: pointer;
}
.adminPanelOverviewBoxContainer {
  margin-top: 1rem;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.adminPanelOverviewOrdersBoxContainerDiv {
  width: 320px;
  height: 102px;
  display: block;
  border-radius: 8px;
  background-color: #fff;
  border: 1px #d5d9d9 solid;
  float: left;
  cursor: pointer;
}
.adminPanelOverviewOrdersBoxContainerDiv:hover {
  background-color: #eeeeee;
}
.adminPanelOverviewOrdersBoxDiv {
  width: 90%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
.adminPanelOverviewOrdersImgDivContainer {
  float: left;
}
.adminPanelOverviewOrdersImg {
  width: 66px;
  height: auto;
}
.adminPanelOverviewOrdersText {
  color: #111;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  line-height: 32px;
  cursor: pointer;
}
.adminPanelOverviewOrdersSubText {
  color: #565959;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
}
.adminPanelOverviewOrdersTextDivContainer {
  margin-left: 1rem;
  float: left;
}

.adminPanelOverviewUsersBoxContainerDiv {
  width: 320px;
  height: 102px;
  display: block;
  border-radius: 8px;
  background-color: #fff;
  border: 1px #d5d9d9 solid;
  float: left;
  margin-left: 1.5rem;
  cursor: pointer;
}
.adminPanelOverviewUsersBoxContainerDiv:hover {
  background-color: #eeeeee;
}
.adminPanelOverviewUsersBoxDiv {
  width: 90%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
.adminPanelOverviewUsersImgDivContainer {
  float: left;
}
.adminPanelOverviewUsersImg {
  width: 66px;
  height: auto;
}
.adminPanelOverviewUsersText {
  color: #111;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  line-height: 32px;
  cursor: pointer;
}
.adminPanelOverviewUsersSubText {
  color: #565959;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
}
.adminPanelOverviewUsersTextDivContainer {
  margin-left: 1rem;
  float: left;
}

.adminPanelOverviewProductsBoxContainerDiv {
  width: 320px;
  height: 102px;
  display: block;
  border-radius: 8px;
  background-color: #fff;
  border: 1px #d5d9d9 solid;
  float: left;
  margin-left: 1.5rem;
  cursor: pointer;
}
.adminPanelOverviewProductsBoxContainerDiv:hover {
  background-color: #eeeeee;
}
.adminPanelOverviewProductsBoxDiv {
  width: 90%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
.adminPanelOverviewProductsImgDivContainer {
  float: left;
}
.adminPanelOverviewProductsImg {
  width: 66px;
  height: auto;
}
.adminPanelOverviewProductsText {
  color: #111;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  text-decoration: none;
  line-height: 32px;
  cursor: pointer;
}
.adminPanelOverviewProductsSubText {
  color: #565959;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
}
.adminPanelOverviewProductsTextDivContainer {
  margin-left: 1rem;
  float: left;
}

.adminPanelDashContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.adminPanelDashOrdersBoxContainer {
  width: 230px;
  height: 203px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(51, 10, 84, 1) 46%
  );
  float: left;
}
.adminPanelDashOrdersBoxDiv {
  width: 90%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
}
.adminPanelDashOrdersTextBoxDiv {
  padding-top: 2rem;
  float: left;
  margin-left: 1rem;
}
.adminPanelDashOrdersBoxTitle {
  color: #fff;
  text-shadow: none;
  font-family: "roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.adminPanelDashOrdersBoxValueDiv {
  margin-top: 0.25rem;
}
.adminPanelDashOrdersBoxValue {
  font-weight: 600;
  font-size: 2rem;
  font-family: "roboto", sans-serif;
  text-shadow: none;
  color: #fff;
  text-align: center;
}
.adminPanelDashOrdersImgBoxDiv {
  float: left;
  margin-top: 2rem;
  position: relative;
  overflow: hidden;
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 1rem;
}
.adminPanelDashOrdersBoxImg {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  width: 2rem;
  height: auto;
}
.adminPanelDashOrdersBoxIncreaseText {
  font-size: 12px;
  font-family: "roboto", sans-serif;
  color: #fff;
}

.adminPanelDashTotalIncomeBoxContainer {
  width: 230px;
  height: 203px;
  background: rgb(51, 10, 84);
  background: linear-gradient(
    90deg,
    rgba(51, 10, 84, 1) 0%,
    rgba(3, 43, 121, 1) 100%
  );
  float: left;
  margin-left: 1rem;
}
.adminPanelDashTotalIncomeBoxDiv {
  width: 90%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
}
.adminPanelDashTotalIncomeTextBoxDiv {
  padding-top: 2rem;
  float: left;
  margin-left: 1rem;
}
.adminPanelDashTotalIncomeBoxTitle {
  color: #fff;
  text-shadow: none;
  font-family: "roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.adminPanelDashTotalIncomeBoxValueDiv {
  margin-top: 0.25rem;
}
.adminPanelDashTotalIncomeBoxValue {
  font-weight: 600;
  font-size: 2rem;
  font-family: "roboto", sans-serif;
  text-shadow: none;
  color: #fff;
  text-align: center;
}
.adminPanelDashTotalIncomeImgBoxDiv {
  float: left;
  margin-top: 2rem;
  position: relative;
  overflow: hidden;
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 1rem;
}
.adminPanelDashTotalIncomeBoxImg {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  width: 2rem;
  height: auto;
}
.adminPanelDashTotalIncomeBoxIncreaseText {
  font-size: 12px;
  font-family: "roboto", sans-serif;
  color: #fff;
}

.adminPanelDashProductsBoxContainer {
  width: 230px;
  height: 203px;
  background: rgb(10, 26, 59);
  background: linear-gradient(
    90deg,
    rgba(10, 26, 59, 1) 0%,
    rgba(3, 81, 121, 1) 100%
  );
  float: left;
  margin-left: 1rem;
}
.adminPanelDashProductsBoxDiv {
  width: 90%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
}
.adminPanelDashProductsTextBoxDiv {
  padding-top: 2rem;
  float: left;
  margin-left: 1rem;
}
.adminPanelDashProductsBoxTitle {
  color: #fff;
  text-shadow: none;
  font-family: "roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.adminPanelDashProductsBoxValueDiv {
  margin-top: 0.25rem;
}
.adminPanelDashProductsBoxValue {
  font-weight: 600;
  font-size: 2rem;
  font-family: "roboto", sans-serif;
  text-shadow: none;
  color: #fff;
  text-align: center;
}
.adminPanelDashProductsImgBoxDiv {
  float: left;
  margin-top: 2rem;
  position: relative;
  overflow: hidden;
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 1rem;
}
.adminPanelDashProductsBoxImg {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  width: 2rem;
  height: auto;
}
.adminPanelDashProductsBoxIncreaseText {
  font-size: 12px;
  font-family: "roboto", sans-serif;
  color: #fff;
}

.adminPanelDashUsersBoxContainer {
  width: 230px;
  height: 203px;
  background: rgb(7, 12, 15);
  background: linear-gradient(
    90deg,
    rgba(7, 12, 15, 1) 0%,
    rgba(4, 117, 124, 1) 100%
  );
  float: left;
  margin-left: 1rem;
}
.adminPanelDashUsersBoxDiv {
  width: 90%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
}
.adminPanelDashUsersTextBoxDiv {
  padding-top: 2rem;
  float: left;
  margin-left: 1rem;
}
.adminPanelDashUsersBoxTitle {
  color: #fff;
  text-shadow: none;
  font-family: "roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.adminPanelDashUsersBoxValueDiv {
  margin-top: 0.25rem;
}
.adminPanelDashUsersBoxValue {
  font-weight: 600;
  font-size: 2rem;
  font-family: "roboto", sans-serif;
  text-shadow: none;
  color: #fff;
  text-align: center;
}
.adminPanelDashUsersImgBoxDiv {
  float: left;
  margin-top: 2rem;
  position: relative;
  overflow: hidden;
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 1rem;
}
.adminPanelDashUsersBoxImg {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  width: 2rem;
  height: auto;
}
.adminPanelDashUsersBoxIncreaseText {
  font-size: 12px;
  font-family: "roboto", sans-serif;
  color: #fff;
}

.adminPanelDashProfitBoxContainer {
  width: 230px;
  height: 203px;
  background: rgb(0, 84, 103);
  background: linear-gradient(
    90deg,
    rgba(0, 84, 103, 1) 0%,
    rgba(99, 0, 0, 1) 100%
  );

  margin-left: 1rem;
  float: left;
}
.adminPanelDashProfitBoxDiv {
  width: 90%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
}
.adminPanelDashProfitTextBoxDiv {
  padding-top: 2rem;
  float: left;
  margin-left: 1rem;
}
.adminPanelDashProfitBoxTitle {
  color: #fff;
  text-shadow: none;
  font-family: "roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.adminPanelDashProfitBoxValueDiv {
  margin-top: 0.25rem;
}
.adminPanelDashProfitBoxValue {
  font-weight: 600;
  font-size: 2rem;
  font-family: "roboto", sans-serif;
  text-shadow: none;
  color: #fff;
  text-align: center;
}
.adminPanelDashProfitImgBoxDiv {
  float: left;
  margin-top: 2rem;
  position: relative;
  overflow: hidden;
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 1rem;
}
.adminPanelDashProfitBoxImg {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  width: 2rem;
  height: auto;
}
.adminPanelDashProfitBoxIncreaseText {
  font-size: 12px;
  font-family: "roboto", sans-serif;
  color: #fff;
}

.adminPanelTopSellingProductSection {
  float: left;
  margin-left: 1rem;
}
.adminPanelTopSellingProductContainer {
  margin-top: 1rem;
}
.adminPanelTopSellingProductDiv {
  width: 477px;
  height: auto;
  overflow: auto;
}
.adminPanelTopSellingProductBox {
  width: 100%;
  height: auto;
  background-color: #fff;
  margin-bottom: 2rem;
}
.adminPanelTopSellingProductTitleContainer {
  width: 100%;
  height: 4rem;
  border-bottom: 2px solid #dee2e6;
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.adminPanelTopSellingProductTitleDiv {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.adminPanelTopSellingProductTitle {
  font-family: "roboto", sans-serif;
  font-weight: 600;
  color: #212229;
  font-size: 14px;
  padding-top: 1.5rem;
}
.adminPanelTopSellingProductContentContainer {
  width: 100%;
  height: auto;
  overflow: auto;
  border-bottom: 1px solid #dee2e6;
}
.adminPanelTopSellingProductContentDiv {
  margin-top: 1.5rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  height: auto;
  overflow: auto;
}
.adminPanelTopSellingProductContentImgDiv {
  width: 80px;
  height: 55px;
  border: 1px solid #dee2e6;
  float: left;
}
.adminPanelTopSellingProductContentImgDivCon {
  width: 45px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.25rem;
}
.adminPanelTopSellingProductContentImg {
  width: 45px;
  height: auto;
}
.adminPanelTopSellingProductContentTextContainer {
  width: 59%;
  height: auto;
  float: left;
}
.adminPanelTopSellingProductContentTextDiv {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.adminPanelTopSellingProductContentTextTitle {
  font-weight: 600;
  font-size: 1.0625rem;
  font-family: "roboto", sans-serif;
  color: #212529;
}
.adminPanelTopSellingProductContentTextCategoryDiv {
  margin-top: 0.25rem;
}
.adminPanelTopSellingProductContentTextCategory {
  line-height: 10px;
  color: #6c757d;
  font-size: 0.875rem;
  font-family: "roboto", sans-serif;
  font-weight: 400;
}
.adminPanelTopSellingProductContentTextDescriptionDiv {
  margin-top: 0.25rem;
}
.adminPanelTopSellingProductContentTextDescription {
  color: #6c757d;
  font-size: 12px;
  line-height: 1.8;
  font-family: "roboto", sans-serif;
}
.adminPanelTopSellingProductContentPriceSection {
  width: 23%;
  height: auto;
  float: left;
}
.adminPanelTopSellingProductContentPriceContainer {
  width: 80%;
}
.adminPanelTopSellingProductContentPrice {
  text-align: right;
  font-size: 1.25rem;
  font-family: "roboto", sans-serif;
  color: #212529;
  font-weight: 550;
}
.adminPanelTopSellingProductContentReviewsDiv {
  margin-top: 0.25rem;
}
.adminPanelTopSellingProductContentReviews {
  text-align: center;
  color: #8798ad !important;
  font-size: 0.875rem;
  line-height: 1.8;
  font-family: "roboto", sans-serif;
}

.adminPanelOrderActivitySection {
  float: left;
}
.adminPanelOrderActivityContainer {
  margin-top: 1rem;
}
.adminPanelOrderActivityDiv {
  width: 722px;
  height: auto;
  overflow: auto;
}
.adminPanelOrderActivityBox {
  width: 100%;
  height: auto;
  background-color: #fff;
  margin-bottom: 2rem;
}
.adminPanelOrderActivityBoxTitleContainer {
  width: 100%;
  height: 4rem;
  border-bottom: 2px solid #dee2e6;
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.adminPanelOrderActivityBoxTitleDiv {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.adminPanelOrderActivityBoxTitle {
  font-family: "roboto", sans-serif;
  font-weight: 600;
  color: #212229;
  font-size: 14px;
  padding-top: 1.5rem;
}
.adminPanelOrderActivityBoxContentContainer {
  width: 100%;
  height: auto;
  overflow: auto;
}
.adminPanelOrderActivityBoxContentDiv {
  margin-top: 1.5rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  height: auto;
  overflow: auto;
}
.adminPanelOrderActivityBoxContentUserImgContainer {
  width: 55px;
  height: 55px;
  float: left;
}
.adminPanelOrderActivityBoxContentUserImgDiv {
  width: 55px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.adminPanelOrderActivityBoxContentUserImg {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.adminPanelOrderActivityBoxContentUserContentContainer {
  float: left;
  width: 40%;
}
.adminPanelOrderActivityBoxContentUserContentDiv {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
.adminPanelOrderActivityBoxContentUserName {
  font-weight: 600;
  font-size: 1rem;
  font-family: "roboto", sans-serif;
  color: #212529;
}
.adminPanelOrderActivityBoxContentUserOrderTimeDiv {
  margin-top: 0.05rem;
}
.adminPanelOrderActivityBoxContentUserOrderTime {
  color: #8798ad;
  font-size: 0.875rem;
  line-height: 1.8;
  font-family: "roboto", sans-serif;
}
.adminPanelOrderActivityBoxContentOrderContentContainer {
  float: left;
  margin-bottom: 1rem;
}
.adminPanelOrderActivityBoxContentOrderImgContainer {
  width: 55px;
  height: 55px;
  float: left;
}
.adminPanelOrderActivityBoxContentOrderImgDiv {
  width: 55px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.adminPanelOrderActivityBoxContentOrderImg {
  width: 55px;
  height: 55px;
}
.adminPanelOrderActivityBoxContentOrderContentContainer {
  float: left;
  width: 48%;
}
.adminPanelOrderActivityBoxContentOrderContentDiv {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-left: 1rem;
}
.adminPanelOrderActivityBoxContentOrderContentName {
  font-weight: 600;
  font-size: 1.0625rem;
  font-family: "roboto", sans-serif;
  color: #212529;
}
.adminPanelOrderActivityBoxContentOrderContentOrderCategoryDiv {
  margin-top: 0.25rem;
}
.adminPanelOrderActivityBoxContentOrderContentOrderCategory {
  line-height: 10px;
  color: #6c757d;
  font-size: 0.875rem;
  font-family: "roboto", sans-serif;
  font-weight: 400;
}

