.adminProductsSection{
    padding-top: 5rem;
    width: 100%;
    height: auto;
    overflow: auto;
    margin-bottom: 2rem;
}
.productAddBtnDiv{
    margin-bottom: 2rem;
}
.btn-product-option{
    float: left;
}
.btn-delete{
    margin-left: 1rem;
}
.productIcon{
    font-size: 1rem;
}