.footerSection{
    width: 100%;
    height: 100px;
    background-color: #131a22;
    clear: both;
    position: relative;
    bottom: -1rem;
}
.footerLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    height: 40px;
    width: auto;
}
.footerContentText{
    color: white;
    font-size: small;
    text-align: center;
    padding-top: 10px;
}